.discount__banner{
    height: 160px;
    margin-top:80px;
}

.banner__content{
    position: relative;
    display:flex;
    align-items: center;
    gap:60px;
    width: 100%;
    height: 100%;
    background: url('../img/discount-banner.png') center no-repeat;
    background-size: cover;
    border-radius:16px;
    padding:0 60px;
}

.banner__content-title{
    font-size:42px;
    font-weight: 700;
    line-height: 46px;
}

.banner__content-text{
    font-size:18px;
    font-weight: 400;
    line-height: 24px;
}

.banner__content-image{
    width: 237px;
    height: 248px;
}

.banner__content-button{
    position: absolute;
    right: 60px;
    top:57px;
    width: 180px;
    height: 46px;
    font-size:16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    background-color: white;
    color: #24B7B1;
}

@media (max-width:1370px){
    .discount__banner{
        height: 235px;
    }

    .banner__content{
        padding:0 20px;
        gap:0px;
        justify-content: space-between;
    }

    .banner__content-left{
       margin-bottom: 76px; 
    }

    .banner__content-text{
        font-size: 14px;
        line-height: 18px;
    }

    .banner__content-title{
        font-size:36px;
        line-height: 40px;
    }

    .banner__content-image{
        width: 285px;
        height: 298px;
    }

    .banner__content-button{
        top:auto;
        left:20px;
        bottom:30px;
    }
    
}

@media (max-width:700px){
    .discount__banner{
        height: 253px;
    }

    .banner__content-image{
        display:none;
    }

    .banner__content-button{
        width: 100%;
        color: #78DE63;
    }
}